<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.board.mappers.BoardMapper">

  <!-- 게시판 목록 -->
  <select id="boardList" resultType="BoardDTO">
    select bno, title, content, writer, dueDate, remove
    from tbl_board
    where bno > 0 and remove = 1
    order by bno desc
    limit #{skip}, #{size}
  </select>

  <!-- 게시판 다음버튼  total -->
  <select id="listCount" resultType="long">
    select count(*)
    from
    (select bno from tbl_board
    where bno > 0
    limit #{countEnd}) board
  </select>

  <!-- 게시판 등록 -->
  <insert id="boardAdd">
    insert into tbl_board
    (title, content, writer, dueDate)
    values (#{title}, #{content}, #{writer}, now())
  </insert>

  <!-- 게시판 상세 -->
  <select id="boardDetail" resultType="BoardDTO">
    select bno, title, content, writer, updateDate, remove
    from tbl_board
    where bno = #{bno}
  </select>

  <!-- 게시판 삭제 -->
  <update id="boardRemove">
    update tbl_board
    set
      title = '', content = '', writer = '', dueDate = null, updateDate = now(), remove = false
    where bno = #{bno}
  </update>

  <!-- 게시판 수정 -->
  <update id="boardModify">
    update tbl_board
    set
      title = #{br.title}, content = #{br.content}, writer = #{br.writer}, updateDate = now()
    where bno = #{bno}
  </update>

</mapper>