<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid pt-4 px-4" layout:fragment="content">
    <!--/* [[${boardDetail}]] */-->
    <div class="col-sm-12 col-xl-12">
      <div class="bg-light rounded h-100 p-4">
        <h2 class="mb-4">게시판 상세</h2>
        <hr>
        <h4 class="mb-4">제목</h4>
        <div class="alert alert-light" role="alert">[[${boardDetail.title}]]</div>
        <h4 class="mb-4">내용</h4>
        <div class="alert alert-light" role="alert">[[${boardDetail.content}]]</div>
        <h4 class="mb-4">작성자</h4>
        <div class="alert alert-light" role="alert">[[${boardDetail.writer}]]</div>
        <h4 class="mb-4">등록일</h4>
        <div class="alert alert-light" role="alert">[[${boardDetail.updateDate}]]</div>
        <div class="button_wrap">
          <a th:href="@{/board/list(page = ${pageRequestDTO.page}, size = ${pageRequestDTO.size})}" class="btn btn-primary btnList">목록</a>
          <a th:href="@{/board/modify/{bno}(bno = ${boardDetail.bno}, page = ${pageRequestDTO.page}, size = ${pageRequestDTO.size})}" class="btn btn-info text-white btnModify">수정</a>
          <button type="button" class="btn btn-danger btnRemove">삭제</button>
        </div>
      </div>
      <div class="modal" tabindex="-1" role="dialog">
        <form method="post" class="actionForm">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">정말 삭제 하시겠습니까?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btnRemoveModal" data-bs-dismiss="modal">확인</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>

  </div>
  <script layout:fragment="script" th:inline="javascript">
    //변수, 선택자
    const {bno, status} = [[${boardDetail}]]
    const modalView = new bootstrap.Modal(document.querySelector(".modal"))
    const actionForm = document.querySelector(".actionForm")
    const bntRemove = document.querySelector(".btnRemove")
    const bntRemoveModal = document.querySelector(".btnRemoveModal")
    //console.log(window.location.host + "/board/list");

    //삭제된 게시물은 list로 return처리
    if(!status){
      alert("삭제된 게시물 입니다.");
      window.location.href = "http://" + window.location.host + "/board/list"
    }

    //게시물 삭제 버튼
    bntRemove.addEventListener("click", e => {
      modalView.show()
    });
    bntRemoveModal.addEventListener("click", e => {
      actionForm.setAttribute("action",`/board/remove/${bno}`)
      actionForm.submit()
    });
  </script>
</body>
</html>