<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="container-fluid pt-4 px-4" layout:fragment="content">
    <!--/* [[${boardList}]] */-->
    <div class="col-sm-12 col-xl-12">
      <div class="bg-light rounded h-100 p-4">
        <h2 class="mb-4">게시판 목록</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">날짜</th>
            </tr>
          </thead>
          <tbody class="boardDetail">
            <tr th:each="list : ${boardList.list}" th:data-bno="${list.bno}">
              <td>[[${list.bno}]]</td>
              <td>[[${list.title}]]</td>
              <td>[[${list.writer}]]</td>
              <td>[[${list.dueDate}]]</td>
            </tr>
          </tbody>
        </table>
        <div class="btn-toolbar" role="toolbar" style="justify-content: center;">
          <!--/* paging */-->
          <div class="btn-group me-2 paging" role="group" aria-label="First group"></div>
        </div>
        <div class="button_wrap">
          <a href="/board/add" class="btn btn-primary">등록</a>
        </div>
      </div>
    </div>
    <form action="/board/list" method="get" class="actionForm">
      <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
      <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
    </form>
    <script src="/js/paging.js"></script>
  </div>

  <script layout:fragment="script" th:inline="javascript">
    //클래스로 선택
    const actionForm = document.querySelector(".actionForm");
    const paging = document.querySelector(".paging");
    const pageObj = document.querySelector("input[name=page]");
    const boardDetail = document.querySelector(".boardDetail");
    //page,size 값 변수에 저장
    const {page, size} = [[${pageRequestDTO}]];
    //total(101) 값 저장
    const {total} = [[${boardList}]];
    
    //paging동적으로 생성
    const pageList = makePages(page, size, total);
    paging.innerHTML = pageList;

    //paging 이동 버튼
    paging.addEventListener("click", (e) => {
      e.preventDefault();
      e.stopPropagation();

      //target 찾기
      const target = e.target;
      //console.log(target);

      //paging번호 가져오기
      const pageNum = target.getAttribute("href");
      //console.log(pageNum);

      //paging값 넘겨주기
      pageObj.value = pageNum;

      //actionForm submit
      actionForm.setAttribute("action", "/board/list");
      actionForm.submit();

    }, false);

    //게시판 상세 이동
    boardDetail.addEventListener("click", (e) => {
      e.preventDefault();
      e.stopPropagation();

      //target 찾기
      const target = e.target;

      //bno 가져오기
      const bno = target.closest("tr").getAttribute("data-bno");
      console.log(bno);

      //쿼리스트링 그대로 detail페이지로
      actionForm.setAttribute("action", `/board/detail/${bno}`);
      actionForm.submit();
    }, false);
  </script>
  
</body>
</html>